[Unit]
Description=Run script at startup after network becomes reachable

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/local/bin/anp/sp.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
